.input-img {
    margin: 0;
    box-sizing: border-box;
    &__label {
      margin-bottom: 1rem;
    }
    &__input {
      display: none;
    }
    &__img {
      display: block;
    }
    &__img-hidden {
      display: none;
    }
}
