.simple-header {
  @include clearfix;
  background-color: $main-color;
  height: 3rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__img {
    float: left;
    height: auto;
    margin: auto .5rem;
    margin-top: .25rem;
    max-width: 100%;
    width: 2.5rem;
  }

  &__title{
  	color: #FFF;
  	width: 80%;
  	margin: 0 auto;
  	padding: $simple-header-padding;
  	text-align: center;
  }

  & .simple-header--lg {
  	font-size: $font-size-lg;
  }

  & .simple-header--sm {
  	font-size: $font-size-sm;
  }
}

