.tilelayout {
  position: fixed;
  top: 3rem;
  z-index: 1;

  &__items {
    @include clearfix;
    -webkit-padding-start: 15px;
    list-style: none;
    margin: 0 auto;
  }

  &__item {
    background: #FFF;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    min-width: 140px;
    box-sizing: border-box;
    width: 20%;
  }

  &__item-overflow {
    overflow: hidden;
  }

  &__item-img {
    height: 9.5em;
    //object-fit: cover;
  }

  &__item-hidden {
    display: none;
  }

  &__item-msg {
    padding: 3px 4px 0px 3px;
  }
}
