.tilelayout {
  position: fixed;
  top: 3rem;
  z-index: 1;
  
  &__items {
    @include clearfix;
    list-style: none;
    margin: 0 auto;
    -webkit-padding-start: 15px;
  }
  &__item {
      box-sizing: border-box;
      margin-top: 15px;
      margin-right: 10px;
      float: left;
      width: 20%;
      min-width: 140px;
      background: #FFF;
      box-shadow: #CCC 0px 2px 3px;
      overflow: hidden;
  }
  &__item-img {
    max-height: 9.5em;
    object-fit: cover;
  }
  &__item-hidden {
    display: none;
  }
  &__item-msg {
    padding: 3px 4px 0px 3px;
  }
}
