@mixin clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) { 
  padding: $padding-y $padding-x;
  font-size: $font-size; 
  border-radius: $border-radius; 
}

@mixin button-variant($color, $background, $border) { 
  $active-background: darken($background, 10%); 
  $active-border: darken($border, 12%); 
  color: $color; 
  background-color: $background; 
  border-color: $border; 
  @include box-shadow($btn-box-shadow); 
  @include hover { 
    color: $color; 
    background-color: $active-background; 
        border-color: $active-border; 
  }
}

@mixin hover { 
  &:hover { @content };
}

@mixin box-shadow($value...) {
　　box-shadow: $value;
}